<style>
body {
	background-color: white;
	}
h1 {
	color: #A4A400;
	text-align: center;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode";
	font-size: 22px;
	}
h2 {
	color: #A4A400;
	text-align: left;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode";
	font-size: 18px;
	}
p {
	font-family: "Georgia, Garamond";
	font-size: 11px;
    color: #404040;
	}
ul {
	font-family: "Georgia, Garamond";
	font-size: 11px;
    color: #404040;
	}
ol {
	font-family: "Georgia, Garamond";
	font-size: 11px;
    color: #404040;
	}
a {
    color: #A4A400;
  }
.copyright p{
    font-family: monospace;
}
</style>