<style>
*{
	background-image: url('https://webster.cs.washington.edu/images/silverware.jpg');
	}
body{
	background-image: url('https://webster.cs.washington.edu/images/silverware.jpg');
	}
img {
	display: block;
	}
h1 {
	color: #A4A400;
	text-align: center;
	font-family: "Lucida Sans Unicode";
	font-size: 22px;	
	}
	
h1 span {
	background-color: #F0F0F0;
}	
	
h2 {
	color: #A4A400;
	text-align: left;
	background-color: #F0F0F0;
	font-family: "Lucida Sans Unicode";
	font-size: 18px;
	display: inline-block;
	}
p {
	font-family: "Georgia, Garamond";
	font-size: 11px;
    color: #404040;
	}
.userComments {
	margin-left: 30px;
	margin-right: 30px;
	font-style: italic;
	background-color: yellow;
	}
ul {
	font-family: "Georgia, Garamond";
	list-style-image: url('https://webster.cs.washington.edu/images/pie-icon.gif');
	font-size: 11px;
    color: #404040;
	}
ol {
	font-family: "Georgia, Garamond";
	font-size: 11px;
    color: #404040;
	}
a {
    color: #A4A400;
	}
.copyright p{
    font-family: monospace;
	}
.twoSpace {
	text-indent: 10px;
	}
.fourSpace {
	text-indent: 20px;
	}
</style>
